<div class="form-container">
    <form class="row g-3" style="margin: 2rem;">
        <div class="col-4">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="searchText">
        </div>
        <div class="col-4">
            <label for="platform">Platform</label>
            <select class="form-select" id="platform" name="platform" [ngModel]="platformSelected" (ngModelChange)="updateSelectValue($event, 'platform')">
                <option *ngFor="let platform of platforms" [value]="platform" >{{ platform }}</option>
            </select>
        </div>
        <div class="col-4">
            <label for="genre">Genre</label>
            <select class="form-select" id="genre" name="genre" [ngModel]="genreSelected" (ngModelChange)="updateSelectValue($event, 'genre')">
                <option *ngFor="let genre of genres" [value]="genre" >{{ genre }}</option>
            </select>
        </div>
    </form>
</div>

<div class="container responsive-grid">
    <div class="card" style="width: 18rem;" *ngFor="let game of games | customFilter: searchText" (click)="viewDetails(game.id)">
        <img src="{{ game.thumbnail }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ game.title }}</h5>
          <p class="card-text">{{ game.short_description }}</p>
        </div>
    </div>
</div>